@import 'colors';

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    display: flex;
    height: 7vw;
  }

  footer {
    background-color: $main-color;
    text-align: center;
    color: $nav-color;
    margin-top: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }


  @media only screen and (max-width: 1200px) {
    header {
      height: 84px;
    }
  }

  @media only screen and (max-width: 600px) {
    header {
      align-self: start;
      margin-left: 10px;
      height: 104px;
    }
  }

}