@import 'colors';

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    display: flex;
    height: 7vw;
  }

  // main {
  //   section {
  //     width: 80%;
  //     margin: 0 auto;
  //     text-align: justify;
  //   }
  // }

  footer {
    background-color: $main-color;
    text-align: center;
    color: $nav-color;
    margin-top: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

}