
.logo {
    flex-grow: 2;
    text-align: center;
    img {
        height: 10vw;
    }
}

.contact {
    flex-grow: 1;
    height: 10vw;
    text-align: end;
    padding-right: 1em;
    padding-top: 0.5em;
}
