@import 'colors';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../images/concrete_wall_2.png");	
  background-color: #e4eded;
  color: $main-color;
	font-size: 20px;
	font-family: 'Rubik', sans-serif;
}
