@import 'colors';

.nav-list {

    margin: 0 auto 0 auto;
    text-align: center;
    padding: 0;
    //  transition: all .7s ease-in;
    z-index: 99999;

    .icon {
        display: none;
    }

    .main-nav-ul {
        display: flex;
        list-style-type: none;
        margin: 0 auto 0 auto;
        padding: 0;

        li {

            display: flex;
            flex-direction: column;
            flex-grow: 1;
            border-right: 1px solid $nav-color;

            a {
                padding: 0.75em 0 0.75em 0;
                text-decoration: none;
                color: $nav-color;
                background-color: $main-color;
                flex-grow: 1;

            }

            a:hover {
                background-color: $nav-background-color-hover;
                cursor: pointer;
                color: $nav-color-hover;
                transition: .2s;
            }

            a.active {
                background-color: $nav-background-color-active;
            }

            .sub-nav-ul {
                display: none;
            }
        }


        li:last-child {
            border-right: none;
        }

        .nav-list-parent {
            position: relative;
        }

        .nav-list-parent:hover .sub-nav-ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            padding: 0;
            width: 100%;
            top: calc(1.2em + 0.75em + 0.75em);
            z-index: 99999;

            li {
                border-right: none;
            }
        }
    }
}

img {
    height: 50vh;
    overflow: hidden;
    width: 100%;
}



@media only screen and (max-width: 992px) {
    .nav-list {
        // display: flex;
        // flex-direction: column;
        // align-items: flex-end;

        // height: calc(1.2em + 0.75em + 0.75em);
        background-color: $main-color;
        color: $nav-color;
        // transition: none; nie dziala?? brak efektow
        //  transition: all .7s ease-in;

        .icon {
            // display: flex;
            //  order: 1;
            display: block;
            margin-left: auto;
            margin-right: 0;
            background-color: $main-color;
            color: #d8e6f3;
            padding: 0 1em;
            border: 0;
            //   align-items: center;
            font-size: 20px;
            height: calc(1.2em + 0.75em + 0.75em);

            .icon-menu {
                font-size: 20px;
            }
        }

        .icon:hover {
            background-color: $nav-background-color-hover;
            color: $nav-color-hover;
            cursor: pointer;
        }

        .main-nav-ul {
            display: none;
        }

        .main-nav-ul.menu-active {
            display: flex;
            flex-direction: column;
            z-index: 99999;
            //  transition: all .7s ease-in;
            // margin: auto 0 0 auto;


            li {
                border-right: none;
            }

            .nav-list-parent {

                .sub-nav-ul {
                    display: none;
                }

                .sub-nav-ul.submenu-active {
                    display: flex;
                    flex-direction: column;
                    z-index: 99999;
                    //   transition: all .7s ease-in; nie dziala? brak efektow
                    position: static;
                    padding: 0;
                    font-size: 15px;

                    li a {
                        background-color: $nav-background-submenu;
                    }

                    li:hover a {
                        background-color: $nav-background-color-hover;
                    }
                }
            }
        }

    }


}