@import 'colors';

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 0;
    transition: all .7s ease-in;
    z-index: 99999;

    li {

        display: flex;
        flex-direction: column;
        flex-grow: 1;
        border-right: 1px solid $nav-color;

        a {
            padding: 0.75em 0 0.75em 0;
            text-decoration: none;
            color: $nav-color;
            background-color: $main-color;
            flex-grow: 1;

        }

        a:hover {
            background-color: $nav-background-color-hover;
            cursor: pointer;
            color: $nav-color-hover;
            transition: .2s;
        }

        ul {
            display: none;
        }
    }

    li:last-child {
        border-right: none;
    }

    .nav-list-parent {
        position: relative;
    }

    li:hover ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 0;
        width: 100%;
        top: calc(1.2em + 0.75em + 0.75em);
        z-index: 99999;

        li {
            border-right: none;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

img {
    height: 50vh;
    overflow: hidden;
    width: 100%;
}

/*...................Sekcja Slideshow...............................*/

.slideshow {
    //  margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;
    height: 50vh;
    width: 100%;

    img {
        height: 50vh;
        width: 100%;
    }
}

.slideshowDots {
    text-align: center;
}

.slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
}

.slideshowDot.active {
    background-color: $main-color;
}