@import 'colors';

.content-box {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}

p {
  line-height: 1.6em;
  font-size: 15px;
}

.page-list-title {
  text-align: center;
  font-size: 1.5em;
  //  margin-top: 3em;
}

.page-list-subtitle {
  font-size: 1em;
}

.page-list {
  // line-height: 2.5em;
  //flex-direction: column;
  font-size: 15px;
  list-style-type: "❯";

  li {
    margin-bottom: 1em;
    line-height: 2em;
    padding-left: 0.5em;
  }
}

.page-list-circle {
  list-style-type: square;
  // flex-direction: column;
  line-height: 1.6em;
  font-size: 15px;
}

#docs-row-list {
  display: flex;
  flex-direction: row;

  div:nth-child(2) {
    margin-left: 20px;
  }
}

#image-offer-section {
  background-image: url(../images/offer.jpg);
  // Photo by <a href="https://unsplash.com/@nickmorrison?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nick Morrison</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 40vh;
  width: 100%;
}

#image-technical-section {
  background-image: url(../images/technical-support.jpg);
  //Photo by <a href="https://unsplash.com/@yer_a_wizard?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Fleur</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 40vh;
  width: 100%;
}

#image-accounting-section {
  background-image: url(../images/accounting.jpg);
  // Photo by <a href="https://unsplash.com/@thoughtcatalog?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Thought Catalog</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 40vh;
  width: 100%;
}

#contact_box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;

  // #adress {
  //   flex-grow: 1;
  // }

  #form-box {
    //  flex-grow: 1;

    form {
      display: flex;
      flex-direction: column;
      //  flex-grow: 2;

      input,
      textarea {
        padding: 1em;
        margin: 1em;
        color: inherit;
        font-size: 15px;
        font-family: inherit;
      }

      button {
        margin: 15px;
        margin-bottom: 30px;
        text-align: center;
        width: inherit;
        height: 58px;
        background-color: $main-color;
        color: $nav-color;
        font-size: 15px;
        font-family: inherit;
        cursor: pointer;
      }

      button:hover {
        background-color: $nav-background-color-hover;
        color: $nav-color-hover;
        font-size: 20px;
        transition: 0.2s;
      }

    }
  }
}

#map-section {
  width: 100%;
  height: 50vh;
  margin-bottom: 0;
}

.alert-box {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 500px;
  max-width: 60%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  background-color: $main-color;
  color: $nav-color;
  padding: 15px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 15px;

  .OKbutton {
    cursor: pointer;
    border: none;
    margin-top: 10px;
    padding: 3px 8px;
    font-weight: bold;
    align-self: center;
    height: 30px;
    background-color: $nav-color;
    color: $main-color;
  }

  .OKbutton:hover {
    background-color: $nav-background-color-hover;
    color: $nav-color-hover;
  }
}


@media only screen and (max-width: 600px) {
  #contact_box {
    flex-direction: column;

    #adress {
      text-align: center;
    }
  }
}


@media only screen and (max-width: 992px) {
  #docs-row-list {
    flex-direction: column;
  }
}