@import 'colors';

.content-box {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}

p {
  line-height: 1.6em;
  font-size: 15px;
}

.page-list-title {
  text-align: center;
  font-size: 1.5em;
  //  margin-top: 3em;
}

.page-list-subtitle {
  font-size: 1em;
}

.page-list {
  // line-height: 2.5em;
  //flex-direction: column;
  font-size: 15px;
  list-style-type: "❯";

  li {
    margin-bottom: 1em;
    line-height: 2em;
    padding-left: 0.5em;
  }
}

.page-list-circle {
  list-style-type: square;
  // flex-direction: column;
  line-height: 1.6em;
  font-size: 15px;
}

#docs-row-list {
  display: flex;
  flex-direction: row;

  div:nth-child(2) {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 992px) {
  #docs-row-list {
    flex-direction: column;
  }
}

#image-offer-section {
  background-image: url(../images/offer.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 40vh;
  width: 100%;
}

#image-technical-section {
  background-image: url(../images/technical-support.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 40vh;
  width: 100%;
}

#image-accounting-section {
  background-image: url(../images/accounting.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 40vh;
  width: 100%;
}

#contact_box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;

  // #adress {
  //   flex-grow: 1;
  // }

  #form-box {
    //  flex-grow: 1;

    form {
      display: flex;
      flex-direction: column;
      //  flex-grow: 2;

      input,
      textarea {
        padding: 1em;
        margin: 1em;
        color: inherit;
        font-size: 15px;
        font-family: inherit;
      }

      button {
        margin: 15px;
        margin-bottom: 30px;
        text-align: center;
        width: inherit;
        height: 58px;
        background-color: $main-color;
        color: $nav-color;
        font-size: 15px;
        font-family: inherit;
        cursor: pointer;
      }

      button:hover {
        background-color: $nav-background-color-hover;
        color: $nav-color-hover;
        font-size: 20px;
        transition: 0.2s;
      }

    }
  }
}

#map-section {
  width: 100%;
  height: 50vh;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  #contact_box {
    flex-direction: column;

    #adress {
      text-align: center;
    }
  }
}